@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@800&family=Inter&display=swap');
@import url(~fullpage.js/dist/fullpage.min.css);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


*{
    font-family: 'Inter', sans-serif;
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span{
  background: #C2EFEB;
}